<form action="/register" method="POST">
    <input name="firstname" type="text" placeholder="First Name" />
    <input name="lastname" type="text" placeholder="Last Name" />
    <input name="username" type="text" placeholder="Username" />
    <input name="email" type="text" placeholder="Email" />
    <input name="password1" type="password" placeholder="Password" />
    <input name="password2" type="password" placeholder="Confirm Password" />
    <button type="submit">Enter</button>
</form>
{{data}}