.test{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.login-error {
    max-width: 347px;
    min-height: 40px;
    margin: auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f05227;
    background-image: url(../images/cancel.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 15px center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff0f0;
    border-radius: 8px;
    border-width: 2px;
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.2);
    border-style: solid;
    border-color: #ff0000;
    animation-name: example;
    animation-duration: 0.5s;
    transition: 1s;
}

.login-success {
    max-width: 347px;
    min-height: 40px;
    margin: auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #209e00;
    background-image: url(../images/success.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 15px center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f0fff0;
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.2);
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #00ff00;
}